pyrogram==2.0.46
tgcrypto==1.2.2
pillow==9.5.0
requests==2.31.0
aiohttp==3.8.4
python-dotenv==1.0.0
pymongo[srv]==4.3.3
python-telegram-bot==20.3
opencv-python-headless==4.8.0.74
tesserocr>=2.5.2
pyspellchecker==0.8.3
python-multipart==0.0.5
PyYAML==6.0
loguru==0.7.0
